.odd{
   background-color: #8EF0DF;
   font-weight: bold;
}

.even{
    /*background-image:linear-gradient(-135deg, #fff 0%, #1de9b6 100%);*/
    background-color: #BBF6EC;
   
    font-weight: bold;
   /* background-image:linear-gradient(-135deg, #3f4d67 0%,  #fff 100%);*/
}


.odd-secondary{
    background-color: #9fa6b3;
    font-weight: bold;
 }
 
 .even-secondary{
     /*background-image:linear-gradient(-135deg, #fff 0%, #1de9b6 100%);*/
     background-color: #d8dbe0;
    
     font-weight: bold;
    /* background-image:linear-gradient(-135deg, #3f4d67 0%,  #fff 100%);*/
 }

 .odd-third{
   background-color: #979cec;
 }

 .even-third{
   background-color: #C0C3F3;
 }

#header{
    background-color: #3f4d67;
    text-align: center;
}

.table-data{
    color:#fff;
    font-weight: bold;
    text-align: center;
}


.table-body{
  color:#000;
  font-weight: bold;
  text-align: center;
}

.table{
    text-align: center;
}

#vacation-form{
    /*background-color: pink;
    border: 3px solid black;*/
    background-color: #BBF6EC;
    padding-top:3%;
    padding-bottom:3%;
    width:100%;
    margin-bottom:10%;
    margin-top:0%;
    text-align: center;
}

#project-form{
  /*background-color: pink;
  border: 3px solid black;*/
  background-color: #C0C3F3;
  padding-top:3%;
  padding-bottom:3%;
  width:100%;
  margin-bottom:10%;
  margin-top:0%;
  text-align: center;
}

#vacation-form .form-content,
#project-form .form-content
{
    margin-left:10%;
}


input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  .cancel-btn {
    background-color: transparent;
    border: none;
    color: #f44236;
    box-shadow:0 3px 7px #3f4d67;
    font-size: 16px;
    cursor: pointer;
  }

  .assign-btn {
    background-color: transparent;
    border: none;
    color: #1de9b6;
    box-shadow:0 3px 7px #3f4d67;
    font-size: 16px;
    cursor: pointer;
  }


  /* Darker background on mouse-over */
  #submt-btn:hover,
  #submt-btn-project:hover {
    background-color: #3f4d67;
  }

  #submt-btn{
      background-color:#1de1c0;
      box-shadow:0 3px 7px #3f4d67;
  }

  .update-btn {
    background-color: transparent;
    border: none;
    color: #3f4d67;
    box-shadow:0 3px 7px #3f4d67;
    font-size: 16px;
    cursor: pointer;
  }

  #submt-btn-project{
    background-color:#979cec;
    box-shadow:0 3px 7px #3f4d67;
}

.project-details{
  color: #3f4d67;
  text-shadow: 2px 2px #979cec;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-emphasis: bold;
  text-align: center;
  margin-bottom:5%;
  font-size: 200%;
}
  