.curr-week {
    padding: 1rem;
    background-color: #8EF0DF;
    border: 2px solid #fff;
    color: #000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 40%;
    margin-left:1%;
    margin-bottom:1%;
    }



.next-week {
    padding: 1rem;
    background-color: #9aa2b1;
    border: 2px solid #fff;
    color: #000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 40%;
    margin-left:1%;
    margin-bottom:1%;
    }

.country{
    color: #3f4d67;
    text-shadow: 2px 2px #1de1c0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-emphasis: bold;
    text-align: center;
    margin-bottom:2%;
    margin-left:30%;
    margin-right:30%;
    font-size: 400%;
}

.this-week-heading{
    background-color: #3f4d67;
    color:  #1de1c0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-emphasis: bold;
    text-align: center;
    margin-bottom:5%;
    margin-top:5%;
    margin-left:35%;
    margin-right:35%;
    font-size: 200%;
    opacity:0.5;
}

.next-week-heading{
    background-color: #8EF0DF;
    color:  #9aa2b1;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-emphasis: bold;
    text-align: center;
    margin-bottom:5%;
    margin-top:5%;
    margin-left:35%;
    margin-right:35%;
    font-size: 200%;
    
}

ul.dropdown-menu {
    max-height: 500px;
    overflow-y: scroll;
}

