
#main-container, #searchDiv {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
  
    background-color: #172874;
    border-radius: 20px;
    text-align: center;
    grid-gap: 10px;
    padding: 10px;
    /*margin-left:5%;*/
    margin-top:5%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 50px;
}

.imgContainer {
    /* display: inline-block; */
    /* box-sizing: border-box; */
    /* background-color: #ffffff;
    opacity: 50%; */
    position: relative;
    /*margin-left:25%;*/
    padding-top:20px;
}

.imgTrend {
    margin: auto;
}
.authorDiv {
    white-space: pre-wrap;
    display: none;
    background-color: rgb(51, 116, 136);
    color: white;
    border-radius: 5px;
    opacity: 70%;
    font-weight: 700;
    text-align: center;
    /* margin-left:10%; */
}

#heart {
    display: none;
}

.fa {
    position: absolute;
    left: 45%;
    top: 45%;
    font-size: 36px;
}
.fa-heart-o {
    color: red;
    cursor: pointer;
    font-family: sans-serif, 'FontAwesome'!important;
  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
    font-family: sans-serif, 'FontAwesome'!important;
  }

/*************************************************************************************************/
/*===============================================================================================*/
/************************************************************************************************/
body
{
    /*background-color: #d6dfff;*/
    background-image: linear-gradient(to right bottom, #6ae7b2, #00bcbc, #008dbc, #005ca5, #172874);
    /*margin: 0% ;
    padding: 0%;
    overflow: hidden;*/
}
h1
{
    text-align: center;
}
nav
{
    /*background-color: #172874;*/
    color:white;
	text-decoration: none;
	text-shadow: 2px 2px 5px  #6ae7b2;
    font-size:20px;
    border-radius:20px;
    margin-left:0%;
    margin-right:2%;
    margin-bottom: 4%;
    margin-top: 2%;
}
 
nav ul
{
    list-style-type: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*background-color: red;*/
    /*display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;*/
}

nav ul li
{
    /*display: inline;*/
    padding: 1% 0% 1% 1%;
    text-align: center;
    background-color: #172874;
    border-radius:20px;
}

nav ul li a
{
    /*display:grid;
    grid-template-columns: auto auto;*/
  	color: white;
  	text-align: left;
      text-transform: uppercase;
      font-size: 23px;
  	/*padding: 5px 5px 12px 40px;*/
  	text-decoration: none;
   	float: center;
 	margin-left:0px;
	margin-right: 0px;
	border-radius:20px;
}
nav ul li:hover 
{
  background-color: #6ae7b2;

}


/*****************************************************************************************
/*========================================================================================
/******************************************************************************************/

#theDiv
{
    border: 5px solid #ffffff;
    /*border-radius: 20px;*/
    /*display: block;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-gap:1em;*/
    background-color:  #172874;
    row-gap: 50px;
    margin-left:2%;
}

img 
{
    display:block;
    border-radius: 15%; /* ---->>> Added 5% (it was 50% commented) as I think it looks nice. :) */
    border-style: solid;
    border-color: #6ae7b2;
    border-width: 5px;
    margin-bottom:20px;
    margin-left:5px;
    /* margin-top:20px; --->>> Commented for testing purposes, as it overlaps with trending image settings. */
}

/*img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }*/
img:hover 
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

h3
{
	color:white;
	text-shadow: 4px 4px 8px #172874;
	text-transform: uppercase;
	padding-top:25px;
	text-decoration: underline overline;
    font-size:40px;
    text-align: center;
}

#searchDiv, #upload-container
{
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;

    background-color: #172874;
    border-radius: 20px;
    text-align: center;
    grid-gap: 10px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    /*margin-left:5%;*/
    margin-top:2%;
    margin-left:2%;
    margin-right:2%;
}

#searchBtn, #upload-file-btn
{
    margin-left: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 10px 40px 10px 40px;
    /*padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px
    padding-bottom:30px;*/
}

#upload-file-btn
{
    margin-left: 5px;
}

#text-input
{
margin-left:30%;
border-radius: 35px;
text-align: center;
width: 40%;
height: 48px;
margin-top:50px;
margin-bottom:50px;
font-size: 30px;
}


.input-group {
    width: 25%;
    margin-left:31%;
    width: 47%;
    height: 48px;
    border-radius: 55px;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 20px;
}

footer
{
	font-style: italic;
	/*font-size:small;*/
	/*padding-left:70%;*/
	/*padding-top:88%;*/
	color:black; 
    text-align:center;
    font-size: 40px;
    background-color: #6ae7b2;
    margin-top:5%;
    padding-top:2%;
    padding-bottom:2%;
}
